body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    /* Navigation bar */
    position: absolute;
    top: 20px;
    left: 25%;
    transform: translateX(-22.5%);
    background-color: #151515;
    color: #fff;
    padding: 10px;
    display: flex;
    width: 90%;
    height: 60px;
    border-radius: 17px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav a {
    /* Navigation links */
    text-decoration: none;
    color: #fff;
    transition: color 0.4s ease;
    font-family: 'Rubik', sans-serif;
}

nav ul {
    /* Navigation links, list */
    list-style: none;
    display: flex;
}

nav ul li {
    /* ^ Links, list placement */
    margin-right: 25px;
}

nav a:hover {
    /* Navlink hover-over effect */
    color: #b03e3e;
    text-decoration: underline;
}

.home {
    background-color: #090909;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #fff;
    background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.logo img {
  width: 70px;
  height: auto;
  position: relative;
  top: 3px; 
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
    font-family: "Permanent Marker", cursive;
}

.hero p {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.15em;
    text-decoration: none;
    color: #fff;
    background-color: #b03e3e;
    border-radius: 7px;
    transition: opacity 0.3s ease;
}

.cta-button:hover {
    opacity: 0.8;
}

.scroll-hint {
    color: #fff;
    opacity: 0.4;
    /* margin-top: ; */
}

.gallery {
    padding: 40px;
    color: #555;
}

.project {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #191919;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container{
  width: 52%;
  /* border-radius: ; */
  margin-right: 120px;
}

.project img {
    width: 100%;
    border-radius: 65px;
    padding: 50px;
    transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.01);
}

.project-info {
    padding: 30px;
}

.project h2 {
    /* Project Title */
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
}

.project p {
    /* Project Description */
    color: #fff;
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    color: #00bcd4;
    border: 1px solid #b03e3e;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    background-color: #b03e3e;
    color: #fff;
}

footer {
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 1px;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.4s ease;
    font-family: 'Rubik', sans-serif;
}

footer a:hover {
  color: #b03e3e;
  text-decoration: underline;
}
