/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: #212121;
    color: #333;
    margin-top: 20px; /* Add margin to the top of the body */
    font-variation-settings:
        "slnt" 0;
}

/* Container styles */
#game-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title styles */
h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/* Input styles */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Message styles */
#message-container {
    margin-top: 20px;
    font-size: 18px;
}

/* Guesses container styles */
#guesses-container {
    margin-top: 20px;
    font-size: 16px;
}

/* Hint container styles */
#hint-container {
    margin-top: 20px;
    font-style: normal;
}
