body, html 
{
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove scrollbars */
}

.canvas-container {
  width: 100vw; /* Set container width to full viewport width */
  height: 100vh; /* Set container height to full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  width: 100%; /* Set canvas width to 100% of container width */
  height: auto; /* Let the height adjust to maintain aspect ratio */
}

.slider-container {
  position: absolute;
  bottom: 10px; /* Adjust to desired distance from bottom */
  right: 10px; /* Adjust to desired distance from right */
}

.slider {
  width: 150px; /* Adjust to desired width */
}
